.rightmaincontacts{
    display: flex;
    flex-direction: column;
   
    justify-content: space-between;
}

.con-text{
    font-size: 25px;
    font-weight: bold;
}

/* right btn  */

.firstsection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.rightmaincon-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.btn-filter{

    width: 116px;
    height: 36px;
    background-color: #e9e9e9;
    color: #000000;
    font-size: 15px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.btn-filter img{
    margin-right: 10px;
  
}


.btn-addcontact{
    width: 131px;
    height: 36px;
    background-color: #6C63FF;
    color: #ffffff;
    font-size: 15px;
    border: none;
    border-radius: 6px;
    font-weight: 560;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.btn-addcontact img{
    margin-right: 7px;
  
}

/* second section   
*/

.secondsection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.right-btn-text-all{
    border: none;
    background-color:#ffffff;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    
}

.right-btn-text-new{
    border: none;
    background-color:#ffffff;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.rightseccon-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.left-btn-send {
    color: #000000;
    background-color: #e9e9e9;
    font-size: 12px;
    border-radius: 4px;
    border: none;
    width: 86px;
    height: 26px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    cursor: pointer;
    font-weight: 600;
    
}
.left-btn-send:hover{
    background-color: #dfdfdf;
}

.left-btn-delete:hover{
    background-color: #dfdfdf;
}
.left-btn-delete{
    color: #000000;
    background-color: #e9e9e9;
    font-size: 12px;
    border-radius: 4px;
    border: none;
    width: 86px;
    height: 26px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: 600;
}
.left-btn-send img{
    margin-right: 6px;
}
.left-btn-delete img{
    margin-right: 6px;
}


/* horizontal line  */
.thirdhorizontalline{
    width: 100%;
    color: rgba(0, 0, 0, 0.3);
    height: 2px;
    background-color:rgba(0, 0, 0, 0.3) ;
    margin-top: 10px;
}

/* forthmainsection */
.forthmainsection{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    
}
.mainplate{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    border: 2.5px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
  
}
.maincheckbtn{
    width: 14px;
    height: 14px;
    border-radius: 2px;
    
}
.mainname{
    font-size: 12px;
    justify-content: space-evenly;
}

.mainname-name{
   
   
    font-size: 12px;
}

.mainname-id {
    padding-left: 22px;
   
    font-size: 12px;
}
.mainname-email{
    padding-left: 86px;
}
.mainname-number{
    padding-left: 228px;
}
.mainname-date{
    padding-left: 63px;
}
.mainname-more{
   
}



.mainmorebtn{
    border: none;
    cursor: pointer;
    background-color: #ffffff;
    
    
}


.localplate{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
  
}

.localname-name{
    padding-left: 12px;
    width: 11%;
}

.localname-id{

    padding-left: 73px;
}

.localname-email{
    padding-left: 56px;
    width: 23%;
}
.localname-phone{
    padding-left: 34px;
    width: 15.5%;
    
}
.localname-date{
   
    width: 13%;
}
.localname-more{
    padding-left: 23px;
}
.localcheckbtn{
    width: 14px;
    height: 14px;
    border-radius: 2px;
    
}
.localname{
    font-size: 12px;
}

.localmorebtn{
    border: none;
    cursor: pointer;
    background-color: #ffffff;
    
}

button{
    cursor: pointer;
}


/* // drop down  */


.dropdown-menu {
    position: absolute;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    right: 0;
  

    width: 120px;
}

.dropdown-menu button {
    display: block;
    width: 100%;
    padding: 10px;
    background: none;
    border: none;
    text-align: left;
    cursor: pointer;
}

.dropdown-menu button:hover {
    background-color: #f0f0f0;
}

/* .localplate {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px;
} */



.notification {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #ffffff;
    color: #6C63FF;
    padding: 15px;
    border-radius: 5px;
    border: #6C63FF;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.cancel-notification {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
}

.search-input-right-main{
    border: none;

    font-size: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    width: 160px;
}

.search-input-right-main:focus{
    outline: none;
    
    font-weight: 500;
}

.delete-btn-show-pop-up{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}