.main-uploadpage{
    display: flex;
    flex-direction: row;
  
  }
  
  
  .verticalline{
    width: 3px;
    height: 2000px;
    background-color: black;
    margin-top: -20px;
    margin-left: 20px;
  }
  
 